body {
	margin: 0;
	padding: 0;
}

.wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
	flex-wrap: nowrap;
	justify-content: flex-start;
	background-color: #353535;
}

.aside {
	width: 20%;
	padding: 100px 20px;
	border-right: 2px solid #484848;
}

.range-container {
	margin: 20px 0;
}

.range-container label {
	display: block;
	text-transform: uppercase;
	color: #484848;
	font-weight: lighter;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 32px;
}

.range {
	display: inline-block;
}
.range-flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-moz-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.number {
	width: 20%;
	background-color: transparent;
	color: #484848;
	border: 1px solid #484848;
	height: 20px;
	text-align: center;
	font-size: 18px;
	font-weight: lighter;
	margin-top: 2px;
}

.content {
	width: 80%;
	padding: 0 20px;
	text-align: center;
	padding-top: 20px;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 75%; /* Specific width is required for Firefox. */
  background: #484848; /* Otherwise white in Chrome */
  height: 24px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}

.range[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 24px;
	width: 10px;
	border-radius: 0px;
	background: #ffffff;
	cursor: pointer;
}

header h2 {
	font-size: 24px;
	font-weight: bolder;
	font-family: Helvetica, Arial, sans-serif;
	color: #484848;
	text-transform: uppercase;
}